body {
    margin: 0;
    padding: 0;
    background-image: url("../background.jpeg");
    background-position: center;
    font-size: 1.2em;
}

#root > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}

ul a {
    min-width: 100px;
    margin: 0 60px;
}

a, button {
    cursor: pointer;
    border: 2px solid green;
    color: green;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 10px;
    transition: background-color 0.25s ease-in 0.01s,
                color 0.25s ease-in 0.01s;
}

a:hover, button:hover {
    color: white;
    background-color: green;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-width: 50%;
    margin: 0 auto;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 40px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px 15px;
}

footer a {
    border: none;
    text-decoration: underline;
}

footer a:hover {
    background-color: transparent;
    color: green;
}


#shop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 15px;
}

.item p {
    margin-bottom: 0;
}

.item button {
    margin-top: 16px;
}

#cartWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cartItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 15px;
}

.cartItem div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cartItem div button {
    margin: 0 8px;
    width: 30px;
}